{% extends 'base.html.twig' %}

{% block body %}
    <h1>Item</h1>

	<div class="table-responsive">
		<table class="table table-striped">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ item.id }}</td>
				</tr>
				<tr>
					<th>Name</th>
					<td>{{ item.name }}</td>
				</tr>
				<tr>
					<th>Price</th>
					<td>{{ item.price }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ item.description }}</td>
				</tr>
				<tr>
					<th>Created</th>
					<td>{% if item.created %}{{ item.created|date('Y-m-d H:i:s') }}{% endif %}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<span>
		<a class="btn btn-default" href="{{ path('item_index') }}">Back to the list</a>
	</span>
	<span>
		<a class="btn btn-default" href="{{ path('item_edit', { 'id': item.id }) }}">Edit</a>
	</span>

   
{% endblock %}
